
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1> Edit Category </h1>
  </section>
    
  <!-- Main content -->
  <section class="content">
          <div class="box box-solid box-info">
              <div class="box-body">
                      <form action="" method="POST" #editCat="ngForm" (ngSubmit)="onEditCatSubmit(editCat)">
  
                          <div class="form-group">
                               <label for="">Title</label>
                               <input type="text" class="form-control" name="title" [(ngModel)]="category.title" placeholder="Enter Title"/>
                          </div>
                          <div class="form-group">
                               <label for="">Icon</label>
                               <input type="file" name="icon" [(ngModel)]="category.icon" />
                          </div>
                          <div class="form-group">
                               <label for="">Remark</label>
                               <textarea name="remark" rows="3" class="form-control" [(ngModel)]="category.remark" placeholder="Enter Remark"></textarea>
                          </div>
                      
                          <div class="form-group">
                              <button type="submit" class="btn btn-success mr-5">Submit</button>
                              <a routerLink="/categories" class="btn btn-warning">Cancel</a>
                          </div>
                      
                      </form>
              </div>
          </div>   
          
  </section>  