.report-title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.report-title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    width: 80px;
    height: 4px;
    background: #f39c12;
}
.content-header {
    margin-bottom: 30px;
}
.content {
    clear: both;
}
.table.tbl-qty {
    max-width: 600px;
    margin: 0 auto;
}
.box-info {
    padding: 0 10px 30px;
}