
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> Create New Tables </h1>
</section>
  
<!-- Main content -->
<section class="content">
        <div class="box box-solid box-info">
            <div class="box-body">
                    <form action="" method="POST" #createTbl="ngForm" (ngSubmit)="onCreateTblSubmit(createTbl)">

                        <div class="form-group">
                             <label for="">Name</label>
                             <input type="text" class="form-control" name="name" [(ngModel)]="table.name" placeholder="Enter Name"/>
                        </div>
                    
                        <div class="form-group">
                            <button type="submit" class="btn btn-success mr-5">Submit</button>
                            <a routerLink="/tables" class="btn btn-warning">Cancel</a>
                        </div>
                    
                    </form>
            </div>
        </div>   
        
</section>
