<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Kitchens</h1>
</section>

<!-- Main content -->
<section class="content">

<p>
  <a routerLink="/kitchens/create" class="btn btn-success">Add New</a>
</p>

<div class="box box-solid box-info">
  <table class="table table-bordered" id="kitchensTable">
  
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Remark</th>
              <th>Action</th>
          </tr>
      </thead>
  
      <tbody>
          <!-- data coming from server -->
          <tr *ngFor="let kit of kitchens">
            <td>{{kit.id}}</td>
            <td>{{kit.kitchen_name}}</td>
            <td>{{kit.remark}}</td>
            <td>
              <a routerLink="/kitchens/edit/{{kit.id}}" class="btn btn-warning mr-5 btn-sm">Edit</a>
              <button (click)="deleteKitchen(kit.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
      </tbody>
  
  </table>
</div>
      
</section>